{{ form_start(form) }}
<div class="row form-group">
    <div class="col-12 mt-3">{{ form_row(form.finale) }}</div>
    <div class="col-12 mt-3">{{ form_row(form.commune) }}</div>
    <div class="col-12 mt-3">{{ form_row(form.nom) }}</div>
    <div class="col-12 mt-3">{{ form_row(form.media) }}</div>
</div>
<div class="text-end mt-5">
    {{ form_widget(form) }}
    <a href="{{ path('app_backend_finaliste_index') }}" class="btn btn-outline-secondary">Annuler</a>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
