{% extends 'base.html.twig' %}

{% block title %}Fainaliste{% endblock %}

{% block body %}
    <h1>Fainaliste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fainaliste.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fainaliste.nom }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td>{{ fainaliste.media }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ fainaliste.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_finaliste_index') }}">back to list</a>

    <a href="{{ path('app_backend_finaliste_edit', {'id': fainaliste.id}) }}">edit</a>

    {{ include('backend_finaliste/_delete_form.html.twig') }}
{% endblock %}
